@media screen and (max-width: 500px) {
    .container {
        max-width: 340px;
    }

    /*Start window styles*/

    .start-window__btn--cpu {
        margin-bottom: 20px;
    }

    /*Turn window styles*/

    /*.result__wrapper {*/
    /*    padding-top: 20px;*/
    /*}*/

    .result__title {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .result__side {
        height: 50px;
        width: 50px;
    }

    .result__text {
        font-size: 32px;
    }


    /*Main page styles*/
    .game__wrapper {
        padding-top: 0;
    }

    .game__menu {
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .game__logo {
        margin: 0 40%;
    }

    .game__current-player {
        margin-left: 0;
        width: 128px;
    }

    .game__turn-btn {
        margin-left: 60px;
    }

    .game__field {
        gap: 12.5px;
    }

    .field__item {
        width: 105px;
        height: 105px;
    }

    .game__statistics {
        gap: 10px;
    }
}